@import url(https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}

.main {
    font-size: 2.5rem;
}

.u-full-width {
    width: 100%;
}

table td {
    padding: 7px;
}

table {
    font-size: 1.2rem;
}

table th {
    font-style: bold;
    text-align: left;
}

a {
    color: white;
    font-style: bold;
}

.buttons > a {
    text-decoration: none;
    font-size: 2.0rem;
    background-color: white;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-raidus: 4px;
    border-raidus: 4px;
}

.header-image {
    margin-bottom: 30px;
    width: 300px;
    -webkit-border-radius: 150px;
    -moz-border-raidus: 150px;
    border-raidus: 150px;
}
